
Flask
ollama
pandas
PyPDF2
openpyxl
Werkzeug
flask-cors
opencv-python-headless
pdf2image
python-doctr
pillow
openlit
transformers
sentence_transformers
faiss-cpu
langchain
langchain-community
langchain-ollama
groq
tavily-python
fpdf
python-docx
markdown
reportlab
graphviz
langmem
poppler-utils
pdf2docx
docx2pdf
mlflow